@model DATN.Models.Account

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
    <div class="col-sm-4 grid-margin">
        <div class="card">
            <div class="card-body">
                <h5>Người dùng</h5>
                <div class="row">
                    <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                            <h2 class="mb-0">@ViewBag.numUser</h2>
                        </div>
                        <h6 class="text-muted font-weight-normal">Số lượng người dùng còn hoạt động</h6>
                    </div>
                    <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                        <i class="icon-lg mdi mdi-codepen text-primary ml-auto"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 grid-margin">
        <div class="card">
            <div class="card-body">
                <h5>Chủ đề</h5>
                <div class="row">
                    <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                            <h2 class="mb-0">@ViewBag.numChallenge</h2>
                        </div>
                        <h6 class="text-muted font-weight-normal">Số lượng topic</h6>
                    </div>
                    <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                        <i class="icon-lg mdi mdi-wallet-travel text-danger ml-auto"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 grid-margin">
        <div class="card">
            <div class="card-body">
                <h5>Bài tập</h5>
                <div class="row">
                    <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                            <h2 class="mb-0">@ViewBag.numExercise</h2>
                        </div>
                        <h6 class="text-muted font-weight-normal">Số lượng bài tập</h6>
                    </div>
                    <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                        <i class="icon-lg mdi mdi-monitor text-success ml-auto"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-1">Thống kế bài tập theo độ khó</h4>
                <canvas id="pieChart" style="width:100%;max-width:600px; height:80%"></canvas>

            </div>
        </div>
    </div>
    <div class="col-md-8 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row justify-content-between">
                    <h4 class="card-title mb-1">Thống kế bài tập theo chủ đề</h4>
                    <p class="text-muted mb-1">Lấy theo các chủ đề có lương bài lớn</p>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="preview-list">
                            <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var xValuesC = [];
    var yValuesC = [];


    var dictionaryC = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.dictChalenge))');
    for (var key in dictionaryC) {
        xValuesC.push(key);
        var value = dictionaryC[key];
        console.log(dictionaryC[key]);
        yValuesC.push(value);
    }
    var barColors = ["red", "green", "blue", "orange", "brown"];

    new Chart("myChart", {
        type: "bar",
        data: {
            labels: xValuesC,
            datasets: [{
                backgroundColor: barColors,
                data: yValuesC
            }]
        },
        options: {
            legend: { display: false },
            title: {
                display: true,
                text: "World Wine Production 2018"
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>

<script>
    var xValuesD = [];
    var yValuesD = [];


    var dictionaryD = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.dictDifficult))');
    for (var key in dictionaryD) {
        xValuesD.push(key);
        var value = dictionaryD[key];
        yValuesD.push(value);
    }
    var barColors = [
        "#b91d47",
        "#00aba9",
        "#2b5797",
        "#e8c3b9",
        "#1e7145"
    ];

    new Chart("pieChart", {
        type: "pie",
        data: {
            labels: xValuesD,
            datasets: [{
                backgroundColor: barColors,
                data: yValuesD
            }]
        },
        options: {
            title: {
                display: true,
                text: "World Wide Wine Production 2018"
            }
        }
    });
</script>