@model DATN.Models.Account

@{
    ViewData["Title"] = "Blocked";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Quản lý quản trị viên</h1>
<h4>Bạn có chắc chắn muốn khóa tài khoản này ?</h4>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Thông Tin Người Dùng</h4>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> Mô tả </th>
                                <th> Chi tiết </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                <tr>
                                    <td> 1 </td>
                                    <td> ID Tài Khoản </td>
                                    <td>@Model.AccountId</td>

                                </tr>
                                <tr>
                                    <td> 2 </td>
                                    <td> Email </td>
                                    <td>@Model.Email</td>

                                </tr>
                                <tr>
                                    <td> 3 </td>
                                    <td> Họ và tên </td>
                                    <td>@Model.FullName</td>

                                </tr>
                                <tr>
                                    <td> 4 </td>
                                    <td> Số điện thoại </td>
                                    <td>@Model.Phone</td>

                                </tr>
                                <tr>
                                    <td> 5 </td>
                                    <td> Ngày sinh </td>
                                    @if (Model.BirthDay.HasValue)
                                    {
                                        <td>
                                            @{DateTime date = Model.BirthDay.Value;
                                                String year = date.ToString("dd/MM/yyyy");
                                            }
                                            @year
                                        </td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }

                                </tr>
                                <tr>
                                    <td> 6 </td>
                                    <td> Địa chỉ </td>
                                    <td>@Model.Address</td>

                                </tr>
                                <tr>
                                    <td> 7 </td>
                                    <td> Tình trạng </td>
                                    @if (Model.Lock.Value == false)
                                    {
                                        <td>
                                            <div class="form-check form-check-primary">
                                                <label class="form-check-label">
                                                    <input type="radio" class="form-check-input" checked="checked"> Active <i class="input-helper"></i>
                                                </label>
                                            </div>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <div class="form-check form-check-danger">
                                                <label class="form-check-label">
                                                    <input type="radio" class="form-check-input" checked=""> Blocked <i class="input-helper"></i>
                                                </label>
                                            </div>
                                        </td>
                                    }

                                </tr>
                                <tr>
                                    <td> 8 </td>
                                    <td> Ngày khởi tạo </td>
                                    @if (Model.CreatedDate.HasValue)
                                    {
                                        <td>
                                            @{DateTime date = Model.CreatedDate.Value;
                                                String year = date.ToString("dd/MM/yyyy");
                                            }
                                            @year
                                        </td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }

                                </tr>

                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>
<div style="display:flex;">
    <form asp-action="UnBlocked">
        <input type="hidden" name="id" value="@Model.AccountId" />
        <input type="submit" value="UnBlocked" class="btn btn-primary" /> |
    </form>
    <form asp-action="Blocked">
        <input type="hidden" asp-for="AccountId" />
        <input type="submit" value="Blocked" class="btn btn-danger" /> |
        <a class="btn btn-warning" asp-action="Index">Cancel</a>
    </form>
</div>


