@model DATN.Models.LanguageSupport

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Xóa ngôn ngữ hỗ trợ</h1>

<br />
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div style="display:flex; flex-direction:row;">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Tên chủ đề</label>
                            <div class="col-sm-9" style="text-align:center;">
                                <p>@Model.Exercise.Challenge.ChallengeName </p>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Tên bài tập</label>
                            <div class="col-sm-9" style="text-align:center;">
                                <p>@Model.Exercise.ExcerciseName </p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="LanguageSupId" class="col-sm-3 col-form-label">ID</label>
                            <div class="col-sm-9" style="text-align:center;">
                                <p>@Model.LanguageSupId</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Tên ngôn ngữ</label>
                            <div class="col-sm-9" style="text-align:center;">
                                <blockquote class="blockquote">
                                    <p class="mb-0">@Model.Language.LanguageName</p>
                                </blockquote>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="FileMain" class="col-sm-3 col-form-label">File Main</label>
                            <div class="col-sm-9" style="text-align:center;">
                                <blockquote class="blockquote">
                                    <p class="mb-0">@Model.FileMain</p>
                                </blockquote>
                               
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="FileFunction" class="col-sm-3 col-form-label">File Hàm</label>
                            <div class="col-sm-9" style="text-align:center;">
                                <blockquote class="blockquote">
                                    <p class="mb-0">@Model.FileFunction</p>
                                </blockquote>
                               
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="LanguageSupId" />
    <input type="submit" value="Xóa" class="btn btn-danger" /> |
    <a class="btn btn-warning" asp-action="Index" asp-route-ExerciseID="@Model.ExerciseId">Trở về</a>
</form>